Add Network Switch Trendnet TEG-240WS

Hi Quentin,

can we add Trendnet TEG-240WS as device ?

I have a full snmpwalk for you in attachment.
[teg240wswalk.txt](https://github.com/centreon/centreon-plugins/files/139141/teg240wswalk.txt)



Does it have some proprietary mibs ?

I dont think so. This req is for a friend of mine. 

I found some info on the snmp mib:
• MIB II RFC 1213
• Pont MIB RFC 1493
• Extension de pont MIB RFC 2674
• SNMPv2 MIB RFC 1907
• Interface Ethernet MIB RFC 1643
• MIB RFC 2863 semblable à Ethernet
• Groupe d’interface MIB RFC 2233
• MIB Traps Convention RFC 1215
• RMON MIB RFC 1757, RFC 2819
• 802.1p MIB RFC 2674
• Authentification client RADIUS MIB RFC 2618
• LLDP-MIB IEEE 802.1ab
• Ping MIB RFC 2925, RFC 4560

And in attachment the mib file. Default traffic should be working. Didnt find any info for fan or status. But that whould be the quiet interesting things.

I think we can close it. If you have the snmpwalk, we can develop it.

yeah, no more needed.